<div class="umb-panel form-horizontal umb-panel-nobody" ng-controller="MatchplayEditTeamController">
    <div id="match_container_header" class="umb-panel-header">
        <div class="row-fluid">
            <div class="span8">
                <h1 class="headline">Administration af hulspilx</h1>
                <h1 class="headline">{{matchText}}</h1>
            </div>
            <div class="span4">
                <div class="btn-toolbar umb-btn-toolbar">
                    <div id="body_body_ctl04_group" class="btn-group">
                        <a id="body_save" title="Save" class="btn btn-primary btn" data-hotkey="ctrl+s" href='javascript'>Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="umb-pane " style="padding:10px;text-align:left;">
        <div class="control-group umb-control-group" style="padding:10px;text-align:left;">

            <div class="umb-el-wrap">
                <label class="control-label" for="inputLeague">Række</label>
                <div class="controls controls-row">
                    <select class="form-control" id="inputLeague" ng-model="team.LeagueId"
                            ng-options="md.Id as md.StringValue for md in leagues"
                            ng-change="LeagueChange()"></select>
                </div>
            </div>            
            
            <div class="umb-el-wrap">
                <label class="control-label" for="inputMatches">Spiller</label>
                <div class="controls controls-row">
                    <select class="form-control" id="inputMatches" ng-model="team.VgcNo"
                            ng-options="md.VgcNo as md.FullName for md in players"
                            ng-change="PlayerChange()"></select>
                </div>
            </div>

            <div class="umb-el-wrap" ng-hide="isSingle">
                <label class="control-label" for="inputMatches">Partner</label>
                <div class="controls controls-row">
                    <select class="form-control" id="inputMatches" ng-model="team.VgcNoPartner"
                            ng-options="md.VgcNo as md.FullName for md in players"
                            ng-change="PartnerChange()"></select>
                </div>
            </div>




            <div class="umb-tab-buttons" detect-fold>
                <div class="btn-group" ng-show="editing">
                    <a class="btn" href="#/caddie/matchplayTree/teamlist/{{LeagueId}}">
                        <localize key="buttons_returnToList">Return to list</localize>
                    </a>
                </div>
                <div class="btn-group">
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-warning" ng-click="submit()">Gem</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <span>{{message}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
