<div class="umb-panel form-horizontal umb-panel-nobody" ng-controller="MatchplayMatchListController">
    <div id="match_container_header" class="umb-panel-header">
        <div class="row-fluid">
            <div class="span8">
                <h1 class="headline">Adminstration af hulspils matcher</h1>
                <h1 class="headline">{{matchText}}</h1>
            </div>
            <div class="span4">
                <div class="btn-toolbar umb-btn-toolbar">
                    <div id="body_body_ctl04_group" class="btn-group">
                        <a id="body_save" title="Save" class="btn btn-primary btn" data-hotkey="ctrl+s" href='javascript'>Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="umb-panel-body">
        <div class="umb-pane">

            <div class="umb-sub-header">

                <div class="btn-group" ng-show="isAnythingSelected()">
                    <a class="btn btn-danger" ng-disabled="actionInProgress" ng-click="delete()" prevent-default="">
                        <localize key="actions_delete">Delete</localize>
                    </a>
                </div>

                <form class="form-search pull-right ng-pristine ng-valid" novalidate="">
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search"></i>
                        <input type="text" class="form-control ng-pristine ng-valid" localize="placeholder" placeholder="Type to search..." ng-model="searchFilter" prevent-enter-submit="" no-dirty-check="" ng-change="search(searchFilter)">
                    </div>
                </form>

            </div>

            <div class="umb-listview">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td style="text-align: center">
                                <a href="#" prevent-default class="sortable" ng-click="order('round')">Runde</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'round'"></i>
                                </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('lastname')">Match tekst</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'teamname1'"></i>
                            </td>
                            <td>
                                <p>Resultat</p>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'matchresult'"></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in matches">
                            <td style="text-align: center">{{p.Playround}}</td>
                            <td>
                                <a href="#/caddie/matchplayTree/editMatch/{{p.Id}}" ng-bind-html="p.HtmlMatchText"</a>
                            </td>
                            <td>
                                <a href="#/caddie/matchplayTree/editResult/{{p.Id}}">{{p.ResultTextFull}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
