<form name="objectForm"
      ng-controller="PlayerController"
      ng-show="loaded"
      val-form-manager>
    <umb-panel>
        <umb-header>
            <h1><span class="icon-pulse"></span>Medlems administration</h1>
        </umb-header>
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">
                    <umb-control-group label="VGC nr." description="Vælg tidligere medlem:">
                        <select class="form-control" id="selectPlayer" placeholder="Vælg medlem" ng-model="selectedVgcNo"
                                ng-options="md.VgcNo as md.FullName for md in players" ng-change="selectVgcNoChange(selectedVgcNo)"></select>
                    </umb-control-group>

                    <umb-control-group label="" description="- eller indtast medlems nr. i VGC">
                        <input type="number" ng-model="player.VgcNo" id="inputVgcNo" ng-text-change="inputVgcNoChange()" />
                    </umb-control-group>

                    <umb-control-group label="Fornavn">
                        <input type="text" ng-model="player.Firstname" name="inputFirstname" />
                    </umb-control-group>

                    <umb-control-group label="Efternavn" description="">
                        <input type="text" ng-model="player.Lastname" name="inputLastname" />
                    </umb-control-group>

                    <umb-control-group label="Post nr." description="">
                        <input type="text" ng-model="player.ZipCode" id="inputZipcode" />
                    </umb-control-group>

                    <umb-control-group label="By" description="">
                        <input type="text" ng-model="player.City" id="inputCity" />
                    </umb-control-group>

                    <umb-control-group label="Email" description="">
                        <input type="text" ng-model="player.Email" id="inputEmail" />
                    </umb-control-group>

                    <umb-control-group label="Telefon" description="">
                        <input type="text" ng-model="player.Phone" id="inputPhone" />
                    </umb-control-group>

                    <umb-control-group label="Hcp index" description="">
                        <input type="number" step="0.1" ng-model-options="{updateOn: 'blur change'}" ng-model="player.HcpIndex" id="inputZipcode" />
                    </umb-control-group>
                </div>

                <div class="umb-tab-buttons" detect-fold>
                    <a class="btn btn-link" ng-click="cancel()">Fortryd</a>
                    <button type="submit" data-hotkey="ctrl+s" class="btn btn-success" ng-click="save()">
                            Opret
                    </button>
                </div>
            </div>
        </div>
    </umb-panel>
</form>

