<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="umbracoDbDSN" />
    <add name="umbracoDbDSN" connectionString="Server=nuc\db01;Database=vgcms_dk_new;user id=vgcms_dk;password=passiv" providerName="System.Data.SqlClient" />
    <add name="vgcmsSqlServer" connectionString="Server=nuc\db01;Database=vgcms_dev;user id=vgcms_dk;password=passiv" providerName="System.Data.SqlClient" />
    <add name="MSReports.Properties.Settings.vgcms_devConnectionString"
      connectionString="Data Source=nuc\db01;Initial Catalog=vgcms_dev;User ID=vgcms_dk;Password=passiv"
      providerName="System.Data.SqlClient" />
    <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
  </connectionStrings>
</configuration>